.contentContainer {
  display: flex;
  flex-direction: column;

  max-width: 70%;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
